.listStyle{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    z-index: 90;
}
.listStyle,a{
    color: #fff;
}
.listStyle,a:link{
    text-decoration: none;
    padding: 5px 10px 12px 10px;
}
a:hover{
    padding: 5px 10px 12px 10px;
    text-decoration: none;
    padding: 15px;
    background-color: var(--btnPrimary);
    color: var(--secondaryBgPink);
    border-bottom: 2px solid #fff;
}
.active{
    border-bottom: 2px solid var(--btnPrimary);
    color: var(--btnPrimary);
}