.Auth{
    background-color: black;
    height: 100vh;
    width: 100%;
    z-index: 100;
    opacity: 0.4;
}
.Form{
    border:1px solid var(--btnPrimary);
    background-color: transparent;
    border-radius: 15px;
    box-shadow: 1px 1px var(--btnPrimary);
    width: 30rem;
    height: 45vh;
    position: absolute;
    top: 30%;
    left:35%;
    padding: 30px;
    opacity: 1 !important;
    z-index: 200;
}
.formBtn{
    width: 100%;
}