@import "bootstrap";

:root{
  --primaryBgBlue: #230ccc;
  --secondaryBgPink: #a60a74;
  --btnPrimary: #1ef7f4;
  --btnSecondery: #141ff5;
  --btnDanger : #f70542;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
